{%extends "main.html"%}
{%block title %}Prodi {%endblock%}
{%block content %}
<h1>Prodi</h1> 
<p>ini halaman prodi</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Prodi</th>
        <th scope="col">Fakultas</th>
        <th scope="col">UK</th>
      </tr>
    </thead>
    <tbody>
        {% for prodi in prodi %}
      <tr>
        <td>{{prodi.nama}}</td>
        <td>{{prodi.falkutas}}</td>
        <td>{{ "6000000" if prodi.falkultas == "FEB" else "2000000" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{%endblock%}